{% extends 'base_club_dashboard.html' %} {% load static %} {% block content %}
<div class="bg-indigo-50 min-h-screen flex items-center justify-center">
  <div class="container mx-auto py-12 px-4 sm:px-6 lg:px-8 xl:pr-[20%]">
    <div
      class="bg-white shadow-2xl rounded-lg overflow-hidden max-w-4xl mx-auto"
    >
      <form method="post" enctype="multipart/form-data" class="space-y-8">
        {% csrf_token %}
        <div class="px-6 py-8 sm:px-10">
          <h2 class="text-3xl font-extrabold text-gray-900 mb-8 text-center">
            تعديل الملف الشخصي للمدير
          </h2>
          <div
            class="flex flex-col lg:flex-row items-start space-y-8 lg:space-y-0 lg:space-x-8 lg:rtl:space-x-reverse"
          >
            <div class="flex-shrink-0 w-full lg:w-auto">
              <label
                for="profile_image_base64"
                class="block text-sm font-medium text-gray-700 mb-2"
                >صورة الملف الشخصي</label
              >
              <div class="relative">
                <img
                  class="h-40 w-40 rounded-full border-4 border-indigo-300 mx-auto lg:mx-0"
                  src="{{ director.user.userprofile.profile_image_base64|default:'https://via.placeholder.com/160' }}"
                  alt="صورة الملف الشخصي للمدير"
                />
                <input
                  type="file"
                  id="profile_image_base64"
                  name="profile_image_base64"
                  class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                />
                <div
                  class="absolute bottom-0 right-0 bg-indigo-600 rounded-full p-2 text-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="flex-grow space-y-6 w-full">
              <div>
                <label
                  for="full_name"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >الاسم الكامل</label
                >
                {{form.full_name}}
              </div>
              <div>
                <label
                  for="phone"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >رقم الهاتف</label
                >
                {{form.phone}}

              </div>
              <div>
                <label
                  for="phone"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >نبذة عني</label
                >
                {{form.about}}

              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="px-6 py-4 bg-gray-50 sm:px-10">
          <label
            for="club"
            class="block text-sm font-medium text-gray-700 mb-2"
            >النادي</label
          >
          <select
            id="club"
            name="club"
            class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          >
            {% for club in clubs %}
              <option value="{{ club.id }}" {% if director.club.id == club.id %}selected{% endif %}>{{ club.name }}</option>
            {% endfor %}
          </select>
        </div> {% endcomment %}
        <div class="px-6 py-4 bg-gray-50 sm:px-10 flex justify-end">
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out"
          >
            حفظ التغييرات
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
