{% extends "base_landing.html" %}

{% block content %}

<div class="flex min-h-screen items-center justify-center bg-indigo-50 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-black">
          مرحبًا بعودتك
        </h2>
        <p class="mt-2 text-center text-sm text-indigo-400">
          ليس لديك حساب؟
          <Link
            href="/auth/signup"
            class="font-medium text-indigo-600 hover:text-indigo-800"
          >
            انشاء حساب جديد
          </Link>
        </p>
      </div>
      <form class="mt-8 space-y-6" method="post">
        {% csrf_token %}
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <label for="email-address" class="sr-only">
              البريد الالكتروني
            </label>
            <input
              id="email-address"
              name="email"
              type="email"
              required
              class=" relative block w-full appearance-none rounded-none rounded-t-md border border-indigo-200 px-3 py-2 text-black placeholder-indigo-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="البريد الالكتروني"
            />
          </div>
          <div>
            <label for="password" class="sr-only">
              كلمة المرور
            </label>
            <input
              id="password"
              name="password"
              type="password"
              required
              class=" relative block w-full appearance-none rounded-none rounded-b-md border border-indigo-200 px-3 py-2 text-black placeholder-indigo-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="كلمة المرور"
            />
          </div>
        </div>

        <div class="flex items-center justify-center">
          <div class="text-sm">
            <a
              href="#"
              class="font-medium text-indigo-400 hover:text-indigo-300"
            >
              نسيت كلمة السر؟
            </a>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            تسجيل الدخول
          </button>
        </div>
      </form>
    </div>
</div>
{% endblock content %}
